/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 9 сент. 2024 г., 08:48:21
    Author     : 044EskeAA@0044.pfr.ru
*/
* {
    margin: 0;
}

body {
    width: 80%;
    margin: 5px auto;

}

/*section {
    padding: 5px;
}*/

.left {
    /*background-color: yellow;*/
    width: 20%;
    display: inline-block;
    /*border: 1px solid #888;*/
    padding: 2px;
    height: auto;
}
.main {
    padding: 5px;
    width: 80%;
    display: inline-block;

}
.content {
    display: flex;
}

.logo{
    display: inline-block;
    padding: 2px;
}

.label {
    padding: 2px;
    font-size: 36pt;
    font-style:oblique;
    /*width: auto;*/
    display: inline-block;
}
.found {
    float: right;
    padding: 2px;
    font-size: 12pt;
    font-style:oblique;
    width: auto;
    display: inline-block;
}

#footer{
    background-color: #cccccc;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px auto;
}


.navbar{
 /*background:#F97300;*/
 background-color: #cccccc;
     margin-bottom: 5px;
     margin-bottom: 5px;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}

.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}

.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}

.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}

.table tbody tr:nth-child(odd){
	background: #fff;
}

.table tbody tr:nth-child(even){
	background: #F7F7F7;
}

.shrift_table {
    font-size: 8px;
}
